<footer>
    <div class="footer-container">
        <div class="footer-section brand">
            <div class="logo logo-footer">
            
                <div class="logo-text">
    
                    <div class="logo--title">
                        <h2>
                            Inner Saraj
                        </h2>
                    </div>
                    <div class="logo--slogan">
                        <h2>
                            Farmer Producer Company Limited
                        </h2>
                    </div>
                </div>
                
            </div>
            <div class="brand-info">
                <p>
                    Placerat vestibulum lectus mauris ultrices.
                     Felis bibendum ut tristique et egestas quis ipsum.
                </p>
            </div>
            <div class="social-icons">
                <a href="#">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                
                <a href="#">
                    <i class="fa-brands fa-instagram "></i>
                </a>

                <a href="#">
                    <i class="fa-brands fa-whatsapp "></i>
                </a>
                
            </div>
        </div>
        <div class="footer-section quick-links">
            <h2>Quick Links</h2>
            <ul>
                <li>
                    <i class="fa-sharp fa-solid fa-angle-right"></i><a href="#">Home</a>
                </li>
                <li>
                    <i class="fa-sharp fa-solid fa-angle-right"></i><a href="#">About</a>
                </li>
                <li>
                    <i class="fa-sharp fa-solid fa-angle-right"></i><a href="#">Products</a>
                </li>
                <li>
                    <i class="fa-sharp fa-solid fa-angle-right"></i><a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="footer-section contact-info">
            <h2>Contacts</h2>
            <ul>
                <li>
                    <i class="fa-solid fa-phone"></i>
                     <span>+91 1234567890</span> 
                </li>
                <li>
                    <i class="fa-solid fa-paper-plane"></i>
                    <span>company@xyz.com</span> 
                </li>
                <li>
                    <i class="fa-solid fa-location-dot"></i> 
                    <span>25 Euclid Avenue NE, Albuquer, 83106 United States</span> 
                </li>
             </ul>

        </div>
    </div>

    <div class="footer-bottom">
        &copy; Inner Saraj Farmer Producer Company Limited |  All rights reserved Copyrights 2023
    </div>
</footer>