@media screen and (max-width: 768px) {

    .section-container{
        gap: 0px;
    }
    .about-container,.service-container{
        flex-direction: column;
        width: 100%;
        
    }
    .about-left{
        width: 100%;
       
    }
    .about-left .btn{
        width: 95%;
        text-align: center;
    }
    .about-right{
        display: none;
    }

    .service-container{
        overflow-x: scroll;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;

    }
    .service-container .service-item{
        /* flex-direction: column; */
        min-width: 100%;
    }
    .section-intro{
       width: 100%;
    }

    .section-title h2{
     /* font-size: 1.5rem;    */
    }

    .rental-item-container{
        overflow-x: scroll;
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        width: 100%;
  
        
      
    }
    .rental-item-container .rental-item{
        min-width: 100%;
        border-bottom: 1px solid rgba(158, 155, 155, 0.596);
        padding-bottom: 20px;
       
        
        
      
    }
    
    .service-item{
        border-bottom: 1px solid rgba(158, 155, 155, 0.596);
        padding-bottom: 20px;
    }
    .service-title h3{
        font-size: 1.3rem;
    }




    /* footer-section */

    .footer-container{
        flex-direction: column;
        gap: 30px;
    }
    .footer-section{
        width: 100%;
    }
}


    
