*{
    padding:0;
    margin:0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }

  

  .section-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }


  div::-webkit-scrollbar {
    display: none;
  }
  
img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-title h2{
    font-size: 2rem;
    text-transform: capitalize;
    color: #008929;
}

.btn{
    border: 2px solid #008929;
    padding: 10px 10px;
    width: max-content;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.6s all ease-in-out;
    font-weight: bold;
}
.btn:hover{
    border: 2px solid red;
}

.btn-full{
    width: 100%;
    text-align: center;
}
.btn-mid{
    width: 60%;
    text-align: center;
}
  .hero-section{
    width: 100%;
    height: auto;
    background-color: blue;
   
  }

  section.body-section{
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
    align-items: center;
  }

 
  .about-section .about-container{
    display: flex;
    align-items: center;
    gap: 3%;

  }

  .about-left{
    width: 48.5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .about-left p{
    
    color: #302f2f;
  }

  .about-right{
    width: 48.5%;
    height: 280px;
  }

  .about-right img{
    border-radius: 10px;
  }


  .section-intro{
    width: 80%;
    text-align: center;
  }
  .section-intro p{
    font-size: 1.4rem;
    color: #615f5f;
  }
  .service-container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 8%;
  }


  .service-container .service-item{
    width: 46%;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    row-gap: 20px;
    border: 1px solid #B4E330;
    padding: 20px;
    box-shadow:  1px 1px 1px 1px #00892967,-1px -1px 1px 1px #00892967;
  }

  .service-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
    .service-info .service-title{
        font-size: 1.5rem;
        text-transform: capitalize;
        width: max-content;
        
    }

  ul.service-points{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  ul.service-points li{
    display: flex;
    gap:    10px;
    font-size: 1rem;
    /* font-weight: bold; */
    color:#615f5f;
    font-family: sans-serif;
  }

  ul.service-points li i{
   color: #B4E330;
  }

 
section.rental-products{
    position: relative;
    
}
  .rental-item-container{
    position: relative;
    display: flex;    
   justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
  
  }

  .rental-item{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    background-color: #FAFBFA;
  }

  .rental-item img{
    width: 200px;
    height: 150px;
  }
  .rental-item .item-title{
    font-size: 1.5rem;
    font-family: sans-serif;
  }


/* contact-page */

section.body-section.contact{
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.contact .contact-info{
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;

}

.contact .section-title h2{
  width: 50%;
  color: #06150A;
  font-family: 'Lato',sans-serif;
  text-transform: capitalize;

}

.contact .contact-info ul{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact .contact-info ul li{
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
  color: #615f5f;
  font-family: sans-serif;
}

.contact .contact-info ul li span{
 display: flex;
 flex-direction: column;
}

.contact .contact-info ul li i{
  font-size: 2rem;
}


.contact .map-location{
  width: 60%;
  height: 400px;
}

.contact .map-location iframe{
  width: 100%;
  height: 100%;

  border-radius: 5px;
}


.body-section.faq{
  /* width: 90%; */
 
  width: 90%;
  justify-content: start;
  gap: 20px;
  margin-top: 60px;
}


.faq .section-title h2{
  
  color: #06150A;
  font-family: 'Lato',sans-serif;
  text-transform: capitalize;
}

/* faq section */

.boxaccordion{
  width: 100%;
}

.containerwidth {
  width: 100%;
}

.wrapper {
  background-color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-bottom: 1px solid #ccc;
}

.toggle,
.content {
  font-family: "Poppins", sans-serif;
}


.toggle {
  width: 100%;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 16px;
  color: #097c2c;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
  
}
.content {
  position: relative;
  font-size: 14px;
  text-align: justify;
  line-height: 30px;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}






/* about page */
section.about-hero{
  height: 300px;
}


.about-content{
  width: 100%;
  background-image: url("/static/assets/images/apple-bg.084e3dcb0049.png");
  background-repeat: no-repeat;
  background-position-x:100% ;
  background-position-y:70%;
}
.about-content p{
  width: 70%;
  line-height: 30px;

}
.team-content{
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.team-member{
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin: 20px 0;
  height: 400px;
 position: relative;
 
}

.team-member .mamber-info{
  position: absolute;
  background: white;
  width: 90%;
  padding: 10px 20px;
  bottom: 0;
  text-align: center;
}



/* footer section */

footer{
  background-color: #232323;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
  z-index: 1;
}

.logo.logo-footer .logo--title h2{
  color: #B4E330;
  font-size: 1.4rem;
}

.logo.logo-footer .logo--slogan h2{
  font-size: .69rem;
}

footer .footer-container{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
}

.footer-section{
  width: 30%;
  display: flex;
  flex-direction: column;
  color: white;
  gap: 10px;
}

.footer-section .brand-info{
  width: 80%;
  font-size: medium;
  /* word-spacing: 5px; */
  letter-spacing: 1px;
  line-height: 1.4rem;
}

.footer-section .social-icons{
  display: flex;
  gap: 20px;
}

.footer-section .social-icons i{
  
  color: #B4E330;
}


.quick-links ul{
  display: flex;
  flex-direction: column;
  gap:10px;
}

.quick-links ul li{
  display: flex;
  gap: 10px;
  /* font-size: 1.1rem; */
  align-items: center;
}

.quick-links ul li i{
  color: #B4E330;
}

.contact-info ul{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-info ul li{
  display: flex;
  gap: 10px;
  /* font-size: 1.1rem; */
  align-items: center;
}

.contact-info ul li i{
  color: #B4E330;
}

.footer-bottom{
  color: #B4E330;
  text-align: center;
  border-top: 2px solid greenyellow;
  padding-top: 20px;
}