{% extends 'main.html' %}
{% load static %}
{% block content %}
<section class="about-hero">
    <img src="https://cdn.pixabay.com/photo/2016/11/30/15/23/apples-1873078_960_720.jpg" alt="">
</section>


<section class="body-section about">
    <div class="section-title">
        <h2>
            About ISFPC
        </h2>
    </div>
        <div class="about-content">
            <p>
                The Farmer Producer Company has a set of primary objectives aimed at 
                enhancing the welfare and interests of its members. These objectives include a 
                range of activities such as harvesting, procurement, pooling, production, 
                selling, grading, handling, marketing, and exporting primary produce. 
                Additionally, the company provides technical services, training, education, 
                consultancy, research and development to its members. Another important 
                objective is the revitalization of land and water resources, the generation, 
                transmission, and distribution of power, as well as communications and 
                conservation efforts related to primary produce.
            </p>
                <p >
                 The company also offers
                 machinery, equipment, and consumables to its members. Moreover, it promotes
                  mutual assistance, financial services, insurance of producers, and welfare
                   measures for primary produce. In summary, the Farmer Producer Company aims
                    to provide a comprehensive range of services that support the production
                     and marketing of primary produce for the benefit of its members.
            </p>
            <h3>Key Details</h3>
            <ul>
                <li> <b>Date of Incorporation : </b> 19 February 2021 </li>
                <li> <b>Farmer Mambers : </b> 316 </li>
                <li>  <b>Villages Covered :</b> 14</li>
                <li><b>Interest Groups :</b> 16</li>
                <li><b> Local Market :</b> Fruit and Vagitable mandi, Banjar</li> 
                <li><b>Main Market :</b> Fruit and vagitable market , Takoli</li>
               
            </ul>
        </div>
    
</section>

<section class="body-section team">
    <div class="section-title">
        <h2>
            Our Team
        </h2>
    </div>
        <div class="team-content">            

            <img src="{% static 'assets/images/team-1.jpeg' %}" alt="">
    </div>
</section>
{% endblock content %}