{% extends 'main.html' %}
{% load static %}

{% block content %}
<section class="contact-hero">
    <img src="{% static 'assets/images/apple-cover.jpg' %}" alt="">
</section>


<section class="body-section contact">
    <div class="contact-info">
        <div class="section-title">
            <h2>
                We are here to help you
            </h2>
        </div>
            <ul>
                <li>
                    <i class="fa-solid fa-phone"></i>
                     <span><b>Phone</b>
                        +91 70189 12773 , +91 70189 12808
                    </span> 
                </li>
                <li>
                    <i class="fa-solid fa-paper-plane"></i>
                    <span><b>Mail</b>
                        innersarajfpc@gmail.com
                    </span> 
                </li>
                <li>
                    <i class="fa-solid fa-location-dot"></i> 
                    <span>
                        <b>Address</b>
                       
C/O Devender Kumar , Vill Pahali, PO & Tehsil Banjar, Distt. Kullu, Himachal Pradesh, 175123
                    </span> 
                </li>
                
               
             </ul>

             
        
    </div>

    <div class="map-location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2954.261047536448!2d77.35359333559718!3d31.647108141234394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3905ad6c631e7ec5%3A0x901cd655b0de8b6d!2sInner%20saraj%20farmer%20producer%20company%20ltd!5e1!3m2!1sen!2sin!4v1681542974945!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    
</section>

<section class="body-section faq" >
   
        <div class="section-title">
            <h2>
                Answers to Commonly Asked Questions
            </h2>
        </div>
        <div class="section-intro">
            <p>
                We understand that you may have questions about our products, 
                services, or processes. That's why we've put together this helpful 
                resource to provide answers to some of
                 the most commonly asked questions we receive
            </p>
        </div>
    
    <div class="boxaccordion">
        <div class="containerwidth">
            <div class="wrapper">
                <button class="toggle">What is your storage service?<i class="fas fa-plus icon"></i></button>
                <div class="content">
                    <p>We provides a cold storage service specifically for storing apples and
                         persimmons. This service ensures that the produce remains fresh for 
                         longer periods of time and can be delivered to 
                        customers at a later date without spoilage.</p>
                </div>
            </div>
            <div class="wrapper">
                <button class="toggle">What is your rental service ?<i class="fas fa-plus icon"></i></button>
                <div class="content">
                 <p>
                    We offers a rental service for various types of 
                    equipment, including power sprayers, earth augers, chain saws, power tillers, and grass cutters. This service allows
                     farmers or individuals to access agricultural equipment without having
                     to purchase them outright, which can be costly.
                 </p>    
                </div>
            </div>
            <div class="wrapper">
                <button class="toggle">What is  agro store?<i class="fas fa-plus icon"></i></button>
                <div class="content">
                <p>
                    We have an agro store that offers a
                     variety of high-quality agricultural products such as uch as fertilizers, pesticides, insecticides, and seeds to support farmers 
                     and individuals in their agricultural endeavors. Our store offers 
                     a convenient and reliable 
                    source for all your agriculture-related needs.
                </p>   
                </div>
            </div>
            <div class="wrapper">
                <button class="toggle">Q: How can I reach you to get these services?<i class="fas fa-plus icon"></i></button>
                <div class="content">
                <p>
                    There are a few different ways you can reach us to book our
                     agriculture services. You can visit our office in person to discuss 
                     your needs and book a service, or you can give us a call at the phone 
                     number listed on our website to speak with a representative and book a 
                     service. Additionally, you can send us a message on WhatsApp to inquire
                      about our services and schedule a booking. We strive to make our services 
                      easily accessible and convenient for our customers, so feel free to reach out
                       to us through whichever method works best for you.
                </p>   
                </div>
            </div>
            
            
        </div>
    </div>

    
</section>
{% endblock content %}


{% block scripts %}
<script>
    let toggles = document.getElementsByClassName("toggle");
        let contentDiv = document.getElementsByClassName("content");
        let icons = document.getElementsByClassName("icon");

        for (let i = 0; i < toggles.length; i++) {
            toggles[i].addEventListener("click", () => {
                if (parseInt(contentDiv[i].style.height) != contentDiv[i].scrollHeight) {
                    contentDiv[i].style.height = contentDiv[i].scrollHeight + "px";
                    toggles[i].style.color = "#0084e9";
                    icons[i].classList.remove("fa-plus");
                    icons[i].classList.add("fa-minus");
                } else {
                    contentDiv[i].style.height = "0px";
                    toggles[i].style.color = "#097c2c";
                    icons[i].classList.remove("fa-minus");
                    icons[i].classList.add("fa-plus");
                }

                for (let j = 0; j < contentDiv.length; j++) {
                    if (j !== i) {
                        contentDiv[j].style.height = 0;
                        toggles[j].style.color = "#097c2c";
                        icons[j].classList.remove("fa-minus");
                        icons[j].classList.add("fa-plus");
                    }
                }
            });
        }
</script>
{% endblock scripts %}