{% extends 'main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/swiper-home.css' %}">

{% endblock css %}
{% block content %}

<section class="hero-section">
    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" 
    centered-slides="true" autoplay-delay="7000" autoplay-disable-on-interaction="false">
    <swiper-slide>
        <img src="https://cdn.pixabay.com/photo/2023/03/31/14/39/ocean-7890172_960_720.jpg" alt="">
    </swiper-slide>
    <swiper-slide>
        <img src="https://cdn.pixabay.com/photo/2023/04/02/03/24/lakeshore-7893531_960_720.jpg" alt="">
    </swiper-slide>
    <swiper-slide>
        <img src="https://cdn.pixabay.com/photo/2023/04/10/10/19/mountain-7913365_960_720.jpg" alt="">
    </swiper-slide>
    <swiper-slide>
        <img src="https://cdn.pixabay.com/photo/2023/04/04/05/17/vietnam-7898501_960_720.jpg" alt="">
    </swiper-slide>
    <div class="autoplay-progress" slot="container-end">
        <svg viewBox="0 0 48 48">
          <circle cx="24" cy="24" r="20"></circle>
        </svg>
        <span></span>
      </div>
    
   
  </swiper-container>
</section>

<div class="section-container">
<section class="about-section body-section" data-aos="fade-up"
data-aos-duration="3000">
    <div class="section-title">
        <h2>About Company</h2>
    </div>
    <div class="about-container">
        <div class="about-left">
            <p>
                The Farmer Producer Company has a set of primary objectives aimed at 
                enhancing the welfare and interests of its members. These objectives include a 
                range of activities such as harvesting, procurement, pooling, production, 
                selling, grading, handling, marketing, and exporting primary produce. 
                Additionally, the company provides technical services, training, education, 
                consultancy, research and development to its members. Another important 
                objective is the revitalization of land and water resources, the generation, 
                transmission, and distribution of power, as well as communications and 
                conservation efforts related to primary produce.
            </p>
                <p class="only-desktop">
                 The company also offers
                 machinery, equipment, and consumables to its members. Moreover, it promotes
                  mutual assistance, financial services, insurance of producers, and welfare
                   measures for primary produce. In summary, the Farmer Producer Company aims
                    to provide a comprehensive range of services that support the production
                     and marketing of primary produce for the benefit of its members.
            </p>
            <div class="btn">
                Know More
            </div>
        </div>

    </div>
</section>

    <section class="body-section business-activity">
        <div class="section-title">
            <h2>
                Business Activity</h2>
            </h2>
        </div>
        <div class="section-intro">
            <p>
                Farmer Producer Company aims to provide different services to its member-farmers, which includes
            </p>
        </div>

        <div class="activities-wrapper">
            <div class="single-activity">
                <h3 class="activity-title">
                    Service provider for cold storage
                </h3>
                <p>
                    We as a FPC plans to provide cost-effective cold storage services 
                    to its farmer members  in order to eliminate non-value adding intermediaries
                    from the value chain. This would lead to  better price  realization for farmers
                    and reduction in wastage particularly during  harvest period. 

                </p>
            </div>
            <div class="single-activity">
                <h3 class="activity-title">
                    Agricultural Equipments on Rental Basis
                </h3>
                <p>
                    The FPC plans to provide agriculture equipments on rental basis to its farmer members
                    at affordable rates. These equipment includes  Power Tiller, Power Sprayer , Grass Cutter
                    Power Chain Saw and Earth Auger etc.

                </p>
            </div>
            <div class="single-activity">
                <h3 class="activity-title">
                    facilitation of input suplly
                </h3>
                <p>
                    The FPC plans to facilitate input supply to its farmer members through a common interesr group
                    By consolidating demand and precuring input in bulk , the fpc can save on transportation
                    costs and and negotiate better prices from suppliers

                </p>
            </div>
            <div class="single-activity">
                <h3 class="activity-title">
                    Facilitting Collective Marketing
                </h3>
                <p>
                    We will facilitate collective marketing of Apple and Persimmion 
                    produced by member-farmers, which aims to address the problem of  small marketingsurplus
                    and high transportation cost.

                </p>
            </div>
        </div>
    </section>

<section class="service body-section" data-aos="fade-up"
data-aos-duration="3000">
    <div class="section-title">
        <h2>storage service</h2>
    </div>

    <div class="section-intro">
        <p>
            “  Keep your agricultural products fresh and in optimal
             condition with our temperature-controlled cold storage facilities.”
            
        </p>
    </div>

    <div class="service-container">
        {% for service_name,service in storage_service.items %}
        <div class="service-item">
               <div class="service-info">
                <div class="service-title">
                    <h3>{{service.name}}</h3>
                </div>
                <ul class="service-points">
                    {% for feature   in service.features  %}                 
                    <li><i class="fa-solid fa-circle-check"></i> {{feature}}</li>
                    {% endfor %}  
                </ul>
               </div>
               <div class="servic-img">
                <img src="{{service.img_url}}" alt="">
               </div>
               <div class="btn btn-full">
                Learn More
               </div>
        </div>
        {% endfor %}
        {% comment %} <div class="service-item">
            <div class="service-info">
                <div class="service-title">
                    <h3>cold store large size</h3>
                </div>
                <ul class="service-points">
                    <li><i class="fa-solid fa-circle-check"></i> Temperature-controlled storage:</li>
                    <li><i class="fa-solid fa-circle-check"> </i>Versatile storage options:</li>
                    <li><i class="fa-solid fa-circle-check"></i>Flexible rental options</li>
                    <li> <i class="fa-solid fa-circle-check"></i>Affordable rates</li>
                </ul>
               </div>
            <div class="service-img">
            <img src="https://5.imimg.com/data5/IQ/SV/IC/SELLER-485160/apple-degreening-cold-storage-room-1000x1000.JPG" alt=""> 
            </div>
            <div class="btn btn-full">
                Learn More
               </div>
        </div> {% endcomment %}
    </div>
</section>


<section class="body-section grading-machine">
    
    <div class="section-content">
        <div class="section-info">
            <p>
                Effortlessly grade and sort your apples with our state-of-the-art apple grading machine.
            </p>
            <div class="btn">
                Check Full Detail
            </div>
        </div>
        <img src="https://res.cloudinary.com/dmj7e9a10/image/upload/c_scale,dpr_3.0,f_auto,q_auto/sorting-machines/apple-sorting/apple-sorting-machine-3.jpg" alt="">
    </div>
</section>


<section class="rental-products body-section" data-aos="fade-up"
data-aos-duration="3000">
    <div class="section-title">
        <h2>
            Rental Service
        </h2>
        
    </div>
   <div class="section-intro">    <p>
        

            Our high-quality equipment rentals provide the tools you need
             for your farm needs, including power sprayers, grass cutters, and more
        
    </p>
   </div>

    <div class="rental-item-container">


        {% for item_name,rental_item in rental_service.items %}
        <div class="rental-item">
            <img src="{{rental_item.img_url}}" alt="">

            <div class="rental-item--info">
                <h3 class="item-title">
                    {{rental_item.name}}
                </h3>
            </div>
            <div class="btn btn-mid">
                Learn More
            </div>
        </div>
        {% endfor %}


        
    </div>
</section>




{% endblock content %}

{% block scripts %}
<script src="{% static 'js/home-swiper.js' %}"></script>
{% endblock scripts %}