{% extends 'main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/swiper-home.css' %}">

{% endblock css %}
{% block content %}

<section class="hero-section">
    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" 
    centered-slides="true" autoplay-delay="7000" autoplay-disable-on-interaction="false">
    <swiper-slide>
        <img src="https://cdn.pixabay.com/photo/2023/03/31/14/39/ocean-7890172_960_720.jpg" alt="">
    </swiper-slide>
    <swiper-slide>
        <img src="https://cdn.pixabay.com/photo/2023/04/02/03/24/lakeshore-7893531_960_720.jpg" alt="">
    </swiper-slide>
    <swiper-slide>
        <img src="https://cdn.pixabay.com/photo/2023/04/10/10/19/mountain-7913365_960_720.jpg" alt="">
    </swiper-slide>
    <swiper-slide>
        <img src="https://cdn.pixabay.com/photo/2023/04/04/05/17/vietnam-7898501_960_720.jpg" alt="">
    </swiper-slide>
    <div class="autoplay-progress" slot="container-end">
        <svg viewBox="0 0 48 48">
          <circle cx="24" cy="24" r="20"></circle>
        </svg>
        <span></span>
      </div>
    
   
  </swiper-container>
</section>

<div class="section-container">
<section class="about-section body-section" data-aos="fade-up"
data-aos-duration="3000">
    <div class="section-title">
        <h2>About Company</h2>
    </div>
    <div class="about-container">
        <div class="about-left">
            <p>
                Contràriament a la creença popular, Lorem Ipsum no és només text aleatori.
                 Té les seves arrels en una peça clàssica de la literatura llatina del 45 aC, 
                 és a dir, de fa 2000 anys.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                  veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                    nulla pariatur. Excepteur sint occaecat cupidatat
                  non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
            <div class="btn">
                Know More
            </div>
        </div>

        <div class="about-right">           
            <img src="https://cdn.pixabay.com/photo/2023/03/31/18/44/hiking-7890733_960_720.jpg" alt="">

        </div>
    </div>
</section>

<section class="service body-section" data-aos="fade-up"
data-aos-duration="3000">
    <div class="section-title">
        <h2>storage service</h2>
    </div>

    <div class="section-intro">
        <p>
            “  Keep your agricultural products fresh and in optimal
             condition with our temperature-controlled cold storage facilities.”
            
        </p>
    </div>

    <div class="service-container">
        {% for service_name,service in storage_service.items %}
        <div class="service-item">
               <div class="service-info">
                <div class="service-title">
                    <h3>{{service.name}}</h3>
                </div>
                <ul class="service-points">
                    {% for feature   in service.features  %}                 
                    <li><i class="fa-solid fa-circle-check"></i> {{feature}}</li>
                    {% endfor %}  
                </ul>
               </div>
               <div class="servic-img">
                <img src="{{service.img_url}}" alt="">
               </div>
               <div class="btn btn-full">
                Learn More
               </div>
        </div>
        {% endfor %}
        {% comment %} <div class="service-item">
            <div class="service-info">
                <div class="service-title">
                    <h3>cold store large size</h3>
                </div>
                <ul class="service-points">
                    <li><i class="fa-solid fa-circle-check"></i> Temperature-controlled storage:</li>
                    <li><i class="fa-solid fa-circle-check"> </i>Versatile storage options:</li>
                    <li><i class="fa-solid fa-circle-check"></i>Flexible rental options</li>
                    <li> <i class="fa-solid fa-circle-check"></i>Affordable rates</li>
                </ul>
               </div>
            <div class="service-img">
            <img src="https://5.imimg.com/data5/IQ/SV/IC/SELLER-485160/apple-degreening-cold-storage-room-1000x1000.JPG" alt=""> 
            </div>
            <div class="btn btn-full">
                Learn More
               </div>
        </div> {% endcomment %}
    </div>
</section>


<section class="body-section grading-machine">
    
    <div class="section-content">
        <div class="section-info">
            <p>
                Effortlessly grade and sort your apples with our state-of-the-art apple grading machine.
            </p>
            <div class="btn">
                Check Full Detail
            </div>
        </div>
        <img src="https://res.cloudinary.com/dmj7e9a10/image/upload/c_scale,dpr_3.0,f_auto,q_auto/sorting-machines/apple-sorting/apple-sorting-machine-3.jpg" alt="">
    </div>
</section>


<section class="rental-products body-section" data-aos="fade-up"
data-aos-duration="3000">
    <div class="section-title">
        <h2>
            Rental Service
        </h2>
        
    </div>
   <div class="section-intro">    <p>
        

            Our high-quality equipment rentals provide the tools you need
             for your farm needs, including power sprayers, grass cutters, and more
        
    </p>
   </div>

    <div class="rental-item-container">


        {% for item_name,rental_item in rental_service.items %}
        <div class="rental-item">
            <img src="{{rental_item.img_url}}" alt="">

            <div class="rental-item--info">
                <h3 class="item-title">
                    {{rental_item.name}}
                </h3>
            </div>
            <div class="btn btn-mid">
                Learn More
            </div>
        </div>
        {% endfor %}


        
    </div>
</section>




{% endblock content %}

{% block scripts %}
<script src="{% static 'js/home-swiper.js' %}"></script>
{% endblock scripts %}