{% extends 'main.html' %}
{% load static %}

{% block meta %}
    <title>Rent Farm Machinery and Tools</title>

<meta name="description" content=" We provide a range of equipment for rent,
 including power sprayers, grass cutters, and more. Our goal is to make it easy 
 and affordable for farmers and gardeners to access the equipment they need to 
 achieve their goals. We pride ourselves on providing reliable, 
well-maintained equipment that is easy to use and operate.">
  
<meta name="keywords" content="Agriculture equipments for rental, power sprayer for rental,
power tiller for rental, grass cutter for rental, earth auger for rental,power chain saw for rental,
agriculture equipents on rental in banjar kullu himachal pradesh">

  <meta name="robots" content="index,follow">
{% endblock meta %}
{% block content %}
    <section class="rental-hero">
        <img  style="" src="{% static 'assets/images/equipments.jpg' %}" alt="">
    </section>

    <section class="service-content body-section">
        <div class="service-description">
            <p>
                <span>W</span>e believe that high-quality equipment is essential for achieving success in farming and gardening. That's why we provide a range of equipment for rent, including power sprayers, grass cutters, and more.

Our goal is to make it easy and affordable for farmers and gardeners to access the equipment they need to achieve their goals. We pride ourselves on providing reliable, well-maintained equipment that is easy to use and operate.
            </p>
            <p>
                We understand that every farm and garden is unique, which is why we offer a variety of equipment sizes and models to suit different needs. Our knowledgeable staff is always available to answer any questions you may have and to help you select the right equipment for your specific needs.
            </p>
        </div>
        <div class="rental-item-container">


            {% for item_name,rental_item in rental_service.items %}
            <div class="rental-item">
                <img src="{% static rental_item.img_url %}" alt="">
    
                <div class="rental-item--info">
                    <h3 class="item-title">
                        {{rental_item.name}}
                    </h3>
                </div>
                
            </div>
            {% endfor %}
            
    
            
        </div>
        <p style="text-align:left; width:100% ; font-size:1.2rem;">
            Conact us on given Addresess / Phone Numbers / Email on contact page  to rent any of the above equipment.
        </p>
    </section>
{% endblock content %}