<!DOCTYPE html>
<html>
<head>
	<title>Site Map</title>
</head>
<body>
	<h1>Site Map</h1>
	<ul>
		<li><a href="https://www.sarajfpc.org/">Home</a></li>
		<li><a href="https://www.sarajfpc.org/storage-service/">Storage Service</a></li>
		<li><a href="https://www.sarajfpc.org/rental-service/">Rental Service</a></li>
		<li><a href="https://www.sarajfpc.org/agro-store/">Agro Store</a></li>
		<li><a href="https://www.sarajfpc.org/about-us/">About Us</a></li>
		<li><a href="https://www.sarajfpc.org/contact-us/">Contact Us</a></li>
	</ul>
</body>
</html>
