{% extends 'main.html' %}
{% load static %}

{% block meta %}
    <title>Shop the Best Agro Products at Inner Saraj Farmer Producer Company</title>

<meta name="description" content=" Our agro store is a one-stop shop
 for all your agricultural needs. We offer a wide range of products 
 including fertilizers,
 insecticides, seeds, and other essential agricultural supplies. Our 
 fertilizers are specially formulated to provide the necessary nutrients
  for healthy crop growth and increased yields.
">
  
<meta name="keywords" content="agricultural prodcuts to purchase, fertilizers, insecticides,pesticides
seed, farm maintence,vegetable seedsx, fruit trees, irrigation systems, gardening tools">

  <meta name="robots" content="index,follow">
{% endblock meta %}

{% block content %}
<section class="store-hero">
    <img src="{% static 'assets/images/agro-store.jpeg' %}" alt="">
</section>


<section class="service-content body-section">
    <div class="service-description">
        <p>
            <span>O</span>ur agro store is a one-stop shop for all your agricultural needs.
             We offer a wide range of products including fertilizers, insecticides, seeds, 
            and other essential agricultural supplies. Our fertilizers are specially
             formulated to provide the necessary nutrients for healthy crop growth and 
             increased yields.
        </p>
        <p>
             We also carry a variety of effective insecticides to 
             help protect your crops from damaging pests. In addition, we offer a 
             selection of high-quality seeds to help you grow the crops you need. 
             With our extensive range of products and affordable prices, we are
             committed to providing farmers with the tools they need to succeed.    
        </p>
    </div>
    <div class="img-container-store">
        <div class="store-img">
            <img src=" {% static 'assets/images/agro-store.jpeg' %} " alt="">
        </div>
        <div class="store-img">

            <img src=" {% static 'assets/images/store-1.jpeg' %} " alt="">
        </div>
        <div class="store-img">
            <img src=" {% static 'assets/images/store-2.jpeg' %} " alt="">

        </div>
        <div class="store-img">

            <img src=" {% static 'assets/images/store-3.jpg' %} " alt="">
        </div>
        <div class="store-img">

            <img src=" {% static 'assets/images/store-5.jpg' %} " alt="">
        </div>
        <div class="store-img">

            <img src=" {% static 'assets/images/store-4.jpg' %} " alt="">
        </div>
    </div>

    
    <p style="text-align:left; width:100% ; font-size:1.2rem;">
        Visit our store or call us on given Phone Numbers to purchase our products
    </p>

</section>
{% endblock content %}